body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('./health.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%; /* Use percentage for responsiveness */
  max-width: 400px; /* Set maximum width */
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(216, 192, 192, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.content {
  margin-bottom: 15px;
}

h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #120f0f;
  text-align: center;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn {
  background-color: #313538;
  color: #fff;
}

.btn.btn-outline {
  background-color: #313538;
  color: #fff;
}

.center {
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .App-box {
    width: 90%;
  }
}
